<nav class="flex items-center pt-2 fixed text-white w-full">
    <div class="mr-4 text-3xl nav-name px-6"><a href="/">Arman</a></div>
    <div class="absolute flex items-center justify-center w-full">
        <div class="mx-4 hover:cursor-pointer font-mono hover-under-animation"><a href="./about.html">About</a></div>
        <div class="mx-4 hover:cursor-pointer font-mono hover-under-animation"><a href="">Projects</a></div>
        <div class="mx-4 hover:cursor-pointer font-mono hover-under-animation"><a href="./skills.html">Skills</a></div>
    </div>
</nav>